.container{
    background-color: black;
    height: fit-content;
    display: flex;
    justify-content: center;    
    align-items: center;
    .loading__container{
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .content__wrapper{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
